{% extends "base.html" %}
{% block body %}


<div class="d-flex justify-content-center align-items-center flex-column head bg-home">
    <div class="layer bg-gray"></div>
    <div class="p-2 front">
        <h1>LEANNE BOWLER</h1>
    </div>
    <div class="p-2 front">
        <h4>Associate Professor, Pratt Institute</h4>
    </div>
</div>


<div class="d-flex justify-content-center align-items-center flex-row section-row">
    <div class="p-4 col-4">
        <img class="img-fluid rounded" src="static/Bowler_Leanne.png">
    </div>
    <div class="p-2 d-flex flex-column">
        <strong>About me</strong>
        <p>I'm an Associate Professor and Director of the Sara Fine Institute for Interpersonal Behavior and
            Technology, at the School of Information Sciences, University of Pittsburgh, where I lead the
            specialization in children and youth. My research and teaching interests lie in the area of youth
            interaction with information, data, and technology. I received my PhD from McGill University, in Montreal,
            Canada. My dissertation explored the landscape of adolescent metacognitive knowledge during the information
            search process. I have a Master of Library Science and a Master of Education (Educational Psychology) and
            have worked as an information professional in a variety of settings including public and academic
            libraries, and patient resource centers in hospitals.</p>
        <div class="d-flex flex-row">
            <div class="d-flex flex-fill align-items-center">
                <div class="d-flex justify-content-center align-items-center circle-icon bg-main">
                    <img src="static/research.svg">
                </div>
                <strong>Research</strong>
            </div>
            <div class="d-flex flex-fill align-items-center">
                <div class="d-flex justify-content-center align-items-center circle-icon bg-main">
                    <img src="static/teaching.svg" style="margin-bottom: 2px;">
                </div>
                <strong>Teaching</strong>
            </div>
            <div class="d-flex flex-fill align-items-center">
                <div class="d-flex justify-content-center align-items-center circle-icon bg-main">
                    <img src="static/publications.svg" style="margin-left: 6px;">
                </div>
                <strong>Publications</strong>
            </div>
        </div>
    </div>
</div>
    {% endblock %}