{% extends "base.html" %}
{% block body %}


<div class="d-flex justify-content-center align-items-center flex-column head bg-home">
    <div class="layer bg-gray"></div>
    <div class="p-2 front font-logo">
        <h1>Leanne Bowler</h1>
    </div>
    <div class="front">
        <h5><b>Associate Professor, Pratt Institute</b></h5>
    </div>
</div>


<div class="d-flex flex-column section-row">
    <div class="row mx-5 mb-3 bowler_portrait">
    </div>
    <div class="row d-flex flex-column">
        <h4 class="mb-2">About me</h4>
        <p class="big-size-font">Hello! I am an Associate Professor at the School of Information, Pratt Institute, in New York City. My
            research and teaching focuses on young peoples' interactions with information and data, their technology
            practices, STEM learning, and how family, teachers, and out-of-school organizations such as libraries and
            museums can support young people's competencies in a socio-technical world.
            <br>
            <br>
            Pratt Institute is focused on preparing our students for the new librarianship of the 21st century. Our
            school has a long history of teaching and research in the area of library services for children and teens,
            beginning with the first course taught in children's librarianship in 1900! But contemporary service models
            for children's and youth libraries are changing, reflecting a shift toward new roles in facilitating and
            mentoring young people in their interactions with information, data, and technology. In my teaching and
            research, I'm exploring ways to support young people's critical information practices and the development
            of digital literacy programs at the library, with the aim of creating of positive technologies and library
            services that afford meaningful experiences for children and teens.</p>
        <div class="d-flex flex-rotating">
            <a href="research.html" class="p-0 col" style="display:block;">
                <div class="pill d-flex align-items-center">
                    <div class="d-flex justify-content-center align-items-center circle-icon bg-main">
                        <img src="static/img/research.svg">
                    </div>
                    <p class="m-0 big-size-font">Research</p>
                </div>
            </a>
            <a href="teaching.html" class="p-0 col" style="display:block;">
                <div class="pill d-flex flex-fill align-items-center">
                    <div class="d-flex justify-content-center align-items-center circle-icon bg-main">
                        <img src="static/img/teaching.svg" style="margin-bottom: 2px;">
                    </div>
                    <p class="m-0 big-size-font">Teaching</p>
                </div>
            </a>
            <a href="publications.html" class="p-0 col" style="display:block;">
                <div class="pill d-flex flex-fill align-items-center">
                    <div class="d-flex justify-content-center align-items-center circle-icon bg-main">
                        <img src="static/img/publications.svg" style="margin-left: 6px;">
                    </div>
                    <p class="m-0 big-size-font">Publications</p>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}