<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

    {% if active_page == "Home" %}
    <a class="navbar-brand" href="#">Navbar</a>
    {% else %}
    <a class="navbar-brand" href="/">Navbar</a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            {% for link, label in nav_entries.items() %}

            {% if label == active_page %}
            <li class="nav-item active">
                <a class="nav-link" href="#"> {{label}}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{link}}">{{label}}</a>
            </li>
            {% endif %}
            {% endfor %}

        </ul>
    </div>
</nav>