{% extends "base.html" %}
{% block body %}


<div class="d-flex justify-content-center align-items-center flex-column section-row head bg-home">
    <div class="layer bg-gray"></div>
    <div class="p-2 front font-logo">
        <h1>Leanne Bowler</h1>
    </div>
    <div class="front">
        <h5><b>Associate Professor, Pratt Institute</b></h5>
    </div>
</div>

<div class="d-flex justify-content-center flex-column section-row">
    <div class="d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center circle-icon bg-main">
            <img src="static/img/publications.svg" style="margin-left: 8px;">
        </div>
        <h4>Publications</h4>
    </div>
    <br><br>
    <!-- <h5 class="p-2">Recent Presentations and Interactive Sessions</h5> -->
    {% for pub in publications %}
    <!-- <p class="p-2">{{pub.authors}} ({{pub.year}}). <a href="{{pub.link}}">{{pub.title}}</a> in {{pub.venue}}, {{pub.location}}.</p> -->
    <p class="p-2">{{pub}}</p>
    {% endfor %}
</div>
{% endblock %}