{% extends "base.html" %}
{% block body %}


<div class="d-flex justify-content-center align-items-center flex-column section-row section-even head bg-teaching">
</div>


<div class="d-flex justify-content-center flex-column section-row section-odd">
    <div class="d-flex align-items-center">
        <div class="d-flex justify-content-center align-items-center circle-icon bg-main">
            <img src="static/teaching.svg" style="margin-bottom: 4px;">
        </div>
        <h4>Teaching</h4>
    </div>
    <br><br>
    {% for course in courses %}
    <h5 class="p-2">{{ course }}</h5>
    {% endfor %}
</div>
{% endblock %}